In [65]:
import pandas as pd
import numpy as np

In [66]:
# read NYISO generator info

file_name = '/Users/jinningwang/Documents/work/lmpdata/data/price/npcc_nyiso/generator.csv'
gen_data = pd.read_csv(file_name)

# read NPCC case info

case_name = '/Users/jinningwang/Documents/work/lmpdata/data/case/npcc.xlsx'
npcc_data = pd.read_excel(io = case_name, sheet_name = 1, header = 0)

In [67]:
print(gen_data.shape[0])
gen_data.head()

733

         Generator Name   PTID         Subzone    Zone   Latitude  Longitude
0      59TH STREET_GT_1  24138  CON ED NY CITY  N.Y.C.  40.766120 -73.996110
1      74TH STREET_GT_1  24260  CON ED NY CITY  N.Y.C.  40.763619 -73.943008
2      74TH STREET_GT_2  24261  CON ED NY CITY  N.Y.C.  40.763619 -73.943008
3    ADK HUDSON___FALLS  24011    NMPC CAPITAL  CAPITL  43.290067 -73.606067
4  ADK RESOURCE___RCVRY  23798    NMPC CAPITAL  CAPITL  43.306154 -73.591954

In [68]:
print(npcc_data.shape[0])
npcc_data.head()

140

,uid,idx,u,name,Vn,vmax,vmin,v0,a0,xcoord,ycoord,area,zone,owner
0,0,1,1,MILLSTONE PT,345.0,1.1,0.9,1.01517,0.084533,-72.165386,41.314961,1,1,1
1,1,2,1,MONTVILLE,345.0,1.1,0.9,1.01090,0.070801,-72.103714,41.428814,1,1,1
2,2,3,1,MONTVILLE,115.0,1.1,0.9,0.99170,0.069934,-72.103714,41.428814,1,1,1
3,3,4,1,MONTVILLE,345.0,1.1,0.9,1.01125,0.071567,-72.103714,41.428814,1,1,1
4,4,5,1,CARD ST,345.0,1.1,0.9,1.00618,0.041062,-72.234276,41.702294,1,1,1

In [69]:
# calc the distance between NYISO and NPCC

cls_gen = []
for no_npcc in range(npcc_data.shape[0]):
    cdist = []
    for no_nyiso in range(gen_data.shape[0]):
        d = np.sqrt((npcc_data["xcoord"].iloc[no_npcc] - gen_data["Longitude"].iloc[no_nyiso])**2 + (npcc_data["ycoord"].iloc[no_npcc] - gen_data["Latitude"].iloc[no_nyiso])**2)
        cdist.append(d)
    if min(cdist) <= 1:  # if the shortest distance > 1, nullify it
        loc = cdist.index(min(cdist))
        cls_gen.append(gen_data["Generator Name"].iloc[loc])
    else:
        cls_gen.append("")

In [70]:
print(sorted(set(cls_gen)))

['', '59TH STREET_GT_1', 'ADK_NYS___DAM', 'AIR_PRODUCTS___DRP', 'ALBANY___LFGE', 'ALCOA_RYNLDS___DRP', 'ATHENS_STG_1', 'BEACON___LESR', 'BETHLEHEM___STEEL', 'BINGHAMTON___COGEN', 'BLUE_CIRC_CHEM_DRP', 'BOC_GAS_DRP', 'CE_MILLWOOD___DRP', 'DUNKIRK___1', 'EAST_HAMPTON___DIESEL', 'FALCON___SEABRD_CC1', 'FENNER___WINDPWR', 'GILBOA___1', 'GLOBAL GREEN_PORT_GT1', 'GLOBE___DSASP', 'GOETHSLN___LBMP', 'GOUDEY___7', 'GREENIDGE___3', 'HICKLING___1', 'HUNTLEY___63', 'INDIAN POINT___2', 'JARVIS____', 'LINDEN COGEN____', 'LOWER RAQUET___HYD', 'MARSH_HILL_WT_PWR', 'NEG WEST___LANCASTR', 'NEPA___ENERGY', 'NM_CENTRAL___DRP', 'NM_ST_REGIS___HYD', 'NORTHPORT___1', 'NYISO_LBMP_REFERENCE', 'PLEASANTVLY___LBMP', 'PPL_SHRM_GT3', 'RAMAPO___LBMP', 'RUSSELL___1']

In [71]:
# remaining 58 bus not found

npcc_data["cls_gen"] = cls_gen
npcc_data[npcc_data["cls_gen"] == ""].shape[0]

58

In [72]:
# remaining bus

npcc_data["name"][npcc_data["cls_gen"] == ""]

5        SHERMAN RD
6            MEDWAY
7          MILLBURY
8      CARPENTER HL
9        BRAYTON PT
10       BRAYTON PT
11      BRIDGEWATER
12          PILGRIM
13            CANAL
14          WALPOLA
16           SCOBIE
17       SANDY POND
18           POWNAL
19     MAINE YANKEE
21       BRAYTON PT
22       BRAYTON PT
23          PILGRIM
24            CANAL
25     MAINE YANKEE
44           PORTER
82            KEITH
83        KEITH JCT
84          LAMBTON
85          LAMBTON
86          LAMBTON
87            SCOTT
88            SCOTT
89             VIDA
91           HANMER
92             ESSA
93      ORANGEVILLE
94         DES JOAC
95           HOLDEN
96       MARTINDELE
108             SLT
110       DETWIERER
111         CHATHAM
112          LAUZON
113      MARYSVILLE
114        ST CLAIR
115        WATERMAN
116         PONTIAC
117           WAYNE
118        THETFORD
119         ARGENTA
120           SC415
121        WATERMAN
122          MONROE
126        ALBURTIS
127        WHITPAIN
128          KEENEY
129    PEACH BOTTOM
130       CONASTONE
131         JUNIATA
132       CONEMAUGH
133      HOMER CITY
134        KEYSTONE
138           KYGER
Name: name, dtype: object